version: "3.9"
services:
  database:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: projetdb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network

  backend:
    build: ./backend
    container_name: backend_container
    restart: always
    depends_on:
      - database
    environment:
      DB_HOST: database
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: projetdb
    ports:
      - "3000:3000"
    networks:
      - app_network

  nginx:
    image: nginx:alpine
    container_name: nginx_container
    depends_on:
      - backend
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app_network

  adminer:
    image: adminer
    container_name: adminer_container
    restart: always
    depends_on:
      - database
    ports:
      - "8081:8080"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mysql_data:
